[submodule "Hans-Henrik-Mørup"]
	path = Hans-Henrik-Mørup
	url = git@github.com:fdcdotneteducation/DotNetEducation.git
[submodule "Gregers-Sornn-Friese"]
	path = Gregers-Sornn-Friese
	url = git@github.com:fdcdotneteducation/DotNetEducation.git
