[submodule "Hans-Henrik-Mørup"]
	path = Hans-Henrik-Mørup
	url = git@github.com:fdcdotneteducation/DotNetEducation.git
[submodule "Gregers-Sornn-Friese"]
	path = Gregers-Sornn-Friese
	url = git@github.com:fdcdotneteducation/DotNetEducation.git
[submodule "Jørgen-Harreby"]
	path = Jørgen-Harreby
	url = git@github.com:fdcdotneteducation/DotNetEducation.git
[submodule "Sonnich-Lindqvist"]
	path = Sonnich-Lindqvist
	url = git@github.com:fdcdotneteducation/DotNetEducation.git
